/*
 * Button
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 */

.btn {
  display: inline-block;

  padding: 18px 35px;

  text-transform: uppercase;
  font-family: "ArimoRegular";
  font-size: 1.08em;

  color: #54b2ef;

  &.btn-block {
    display: block;
  }
  &.btn-primary {
    color: #fff;

    background-color: #7ab0ec;
  }
  &.btn-secondary {
    color: #fff;

    background-color: #5a5a5a;
  }
}

/*
 * Newsletter signup on frontpage
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 * GJ-17 | @mnbellcom
 */

.front {

  #block-views-buzzers-block {
    @include clearfix;
  }

  .region-content {

    .block-webform {
      @include content-width;

      margin-bottom: 45px;

      .block-inner {
        padding: 30px;

        background-color: #5a5a5a;
      }

      h2 {
        color: #fff;
      }

      p {
        color: #fff;
      }

      form {
        float: none;

        padding-bottom: 0;

        color: #fff;
      }

      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      textarea,
      select {
        padding: 15px;

        color: #fff;
        background-color: transparent;
        border-color: #54b2ef;
      }

      input[type="submit"],
      input[type="button"] {
        padding: 15px;
      }

      .form-actions {
        margin-bottom: 0;
      }

      .webform-component-email,
      .webform-component-textfield,
      .webform-component-checkboxes {
        float: left;

        padding-top: 30px;
        margin: 0;

        label {
          display: block;

          margin: 0;
        }

        &:nth-child(even) {
          width: 47%;
          margin-right: 3%;
        }

        &:nth-child(odd) {
          width: 47%;
          margin-left: 3%;
        }
      }
    }
  }
}

/*
 * Popup call-to-action
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 * GJ-7a | @mnbellcom
 */

// Toggler
.toggler {
  position: fixed;

  right: 30px;
  bottom: 30px;

  display: flex;

  align-items: center;

  z-index: 1000;

  padding: 15px;

  cursor: hand;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  color: #7ab0ec;
  background-color: #fff;
  border: 1px solid #333;
}
.toggler__text {
  margin: 0 15px;

  font-weight: bold;
}
.toggler__icon {
  font-size: 20px;
}

// Popup CTA
.popup-cta {
  display: none;

  position: fixed;

  right: 30px;
  bottom: 30px;

  z-index: 1000;

  padding: 20px;

  width: 235px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);

  color: #5a5a5a;
  background-color: #dff5fd;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  h5 {
    font-weight: normal;
  }

  h1, h2, h3, h4, h5,
  p,
  a {
    color: #5a5a5a;
  }

  // Desktop
  @include breakpoint($min891) {
    width: 300px;

    padding: 45px;
  }

  &.visible {
    display: block;
  }
}

.popup-cta__close {
  position: absolute;

  bottom: 0;
  left: 0;

  height: 40px;
  width: 40px;

  margin-bottom: -20px; // half the height
  margin-left: -20px; // half the width

  border: 0;
  border-radius: 100%;

  cursor: pointer;
  cursor: hand;

  font-size: 24px;

  color: #fff;
  background-color: #24aef2;

  &, &:focus {
    outline: 0;
  }
}

.popup-cta__heading {
  text-align: center;
}
.popup-cta__heading__title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.popup-cta__image {
  padding: 5px 0;

  text-align: center;

  img {
    max-width: 100px;

    border-radius: 100%;

    border: 5px solid #fff;
  }

  // Desktop
  @include breakpoint($min891) {
    padding: 15px 0;

    img {
      max-width: 170px;

      border-width: 10px;
    }
  }
}
.popup-cta__body {}

.popup-cta__contact {
  padding: 5px 0;

  font-weight: bold;

  text-transform: uppercase;

  + .popup-cta__contact_description {
    margin-top: 10px;
  }
}
.popup-cta__contact_description {
  color: #24aef2;

  + .popup-cta__contact-item {
    margin-top: 25px;
  }
}

.popup-cta__contact-item {
  display: flex;

  align-items: center;

  + .popup-cta__contact-item {
    margin-top: 10px;
  }

  + .popup-cta__action {
    margin-top: 20px;
  }
}
.popup-cta__contact-item__icon {
  font-size: 24px;

  color: #24aef2;

  + .popup-cta__contact-item__text {
    margin-left: 15px;
  }
}
.popup-cta__contact-item__text {

  a {
    text-decoration: underline;
  }
}

.popup-cta__action {
  text-align: center;
}

/*
 * Product call-to-action
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 * GJ-7b | @mnbellcom
 */

.region-toppic {
  position: relative;

  @include clearfix;
}

// Product CTA
.product-cta {
  display: none;

  padding: 45px;

  color: #5a5a5a;
  background-color: #def4fd;

  .node-type-product & {
    display: block;
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  h5 {
    font-weight: normal;
  }

  h1, h2, h3, h4, h5,
  p,
  a {
    color: #5a5a5a;
  }

  // Desktop
  @include breakpoint(min-width 980px) {
    position: absolute;

    //top: 63px; // height of topbar + 1px border
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 250;

    width: 300px;
  }
}

.product-cta__heading {
  text-align: center;
}
.product-cta__heading__title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.product-cta__image {
  padding: 15px 0;

  text-align: center;

  img {
    max-width: 170px;

    border-radius: 100%;

    border: 10px solid #fff;
  }
}
.product-cta__body {
  margin: auto;
  max-width: 440px;
}

.product-cta__contact {
  padding: 5px 0;

  font-weight: bold;

  text-transform: uppercase;

  + .product-cta__contact_description {
    margin-top: 10px;
  }
}
.product-cta__contact_description {
  color: #24aef2;

  + .product-cta__contact-item {
    margin-top: 25px;
  }
}

.product-cta__contact-item {
  display: flex;

  align-items: center;

  + .product-cta__contact-item {
    margin-top: 10px;
  }
}
.product-cta__contact-item__icon {
  font-size: 24px;

  color: #24aef2;

  + .product-cta__contact-item__text {
    margin-left: 15px;
  }
}
.product-cta__contact-item__text {

  a {
    text-decoration: underline;
  }
}

/*
 * Contact page
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 * GJ-11 | @mnbellcom
 */

.node-type-page {

  .stacktable {
    margin-bottom: 50px !important;

    tr {
      background-color: #fafafa;

      &:first-child {
        background-color: #f6f6f6;
      }

      th,
      td {
        padding: 10px 15px !important;
        border: 1px solid #fff;
      }

      th {
        font-weight: bold;
      }
    }
  }
}

/*
 * Contact page
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 * GJ-11 | @mnbellcom
 */




/*
 * Fixed header
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------
 */

#pagewrapper {
  padding-top: 125px;

  .toolbar & {
    padding-top: (125px + 30px);
  }
  .toolbar-drawer & {
    padding-top: (125px + 30px + 35px);
  }

  > header {
    top: 0;
    right: 0;
    left: 0;

    float: none;
  }
}

@include breakpoint(min-width 980px) {

  #pagewrapper {
    padding-top: 63px;

    .toolbar & {
      padding-top: (63px + 30px);
    }
    .toolbar-drawer & {
      padding-top: (63px + 30px + 35px);
    }
  }
}
