.socials-top {
  display: block;
  position: fixed;
  top: 160px;
  right: 0px;
  height: auto;
  width: 150px;
  z-index: 305;
  @include breakpoint($max980) {
    position: relative;
    width: 100%;
    top: 0px;
    clear: both;
  }
  a {
    display: block;
    width: 100%;
    position: relative;
    color: $gj-cyan;
    margin-bottom: 2px;
    height: 25px;
    left: 115px;
    background: white;
    padding-left: 35px;
    padding-top: 12px;
    font-size: 0.8em;
    background-size: 1.6em;
    @include breakpoint($max980) {
      left: 0px;
      width: 25%;
      float: left;
      background-position: center center !important;
      text-indent: -999px;
      margin: 15px 0px 20px 0px;
      padding: 0px;
      height: 35px;
    }
    @include transition-duration(200ms);
    @include transition-timing-function(ease-out);
    &:hover {
      left: 0px;
      @include transition-duration(200ms);
      @include transition-timing-function(ease-in);
    }
    &.facebook {
      background: url(../img/facebook_blue.svg) white 4px 6px no-repeat;
      background-size: 2em;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background: url(../img/facebook_blue.svg) white -63px 2px no-repeat;
        background-size: auto 85%;
      }
    }
    &.twitter {
      background: url(../img/twitter_blue.svg) white 4px 6px no-repeat;
      background-size: 2em;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background: url(../img/twitter_blue.svg) white -62px 4px no-repeat;
        background-size: auto 85%;
      }
    }
    &.linkedin {
      background: url(../img/linkedin-blue.svg) white 5px 6px no-repeat;
      background-size: 1.8em;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background: url(../img/linkedin-blue.svg) white -57px 2px no-repeat;
        background-size: auto 80%;
      }
    }
    &.contact {
      background: url(../img/mail-blue.svg) white 4px 5px no-repeat;
      background-size: 2em;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        background: url(../img/mail-blue.svg) white -57px 2px no-repeat;
        background-size: auto 80%;
      }
    }
  }
}

.flex-control-nav {
  bottom: 30px !important;
}

#pagewrapper {
  .txt-topbanner {
    .flexslider {
      border-radius: 0px;
      border: none;
      box-shadow: none;
      overflow: hidden;
      display: block;
      width: 100%;
      margin: 0px;
      height: auto;
      @include breakpoint($max980) {
        margin: 0px;
      }
      .slides {
        display: block;
        width: 100%;
        position: relative;
        height: auto;
        li {
          .grid-on {
            .image {
              &:before {
                display: block;
                width: 100%;
                height: 100vh;
                background: url(../img/grid.svg);
                background-size: 3px 3px;
                opacity: 0.70;
                position: absolute;
                top: 0px;
                left: 0px;
                content: '';
                @include breakpoint($max980) {
                  background: url(../img/nonevector-grid.png);
                  background-size: auto;
                  opacity: 0.6;
                }
              }
            }
          }
          .grid-off {

          }
          .textlink-wrapper {
            display: inline-block;
            position: absolute;
            z-index: 150;
            top: 100px;
            left: 9%;
            width: 365px;
            height: 200px;
            color: white;
            background: $gj-cyan-op;
            background: url(../img/blue-stribing-left.svg) $gj-cyan-op -14px 0px no-repeat;
            background-size: contain;
            padding-left: 32px;
            padding-top: 10px;
            text-transform: uppercase;
            font-size: 1.2em;
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              background-size: 30px 100%;
            }
            @include breakpoint($min1600) {
              left: 12%;
            }
            @include breakpoint($max1160) {
              left: 4%;
              top: 70px;
              width: 290px;
              height: 180px;
              font-size: 1em;
              overflow: hidden;
            }
            @include breakpoint($max980) {
              left: 0px;
              top: 0px;
              width: 100%;
              height: auto;
              font-size: 1em;
              background: $gj-cyan-op;
              padding: 10px 0px 6px 14px;
            }
            @include breakpoint($max680) {
              display: none;
            }
            /*&:before {
              display: inline-block;
              position: absolute;
              width: 10px;
              height: 200px;
              background: pink;
              content: '';
              top: 0px;
              left: -10px;
            }*/
            .body {
              font-size: 1.3em;
              @include breakpoint($max980) {
                font-size: 1em;
              }
              p {
                line-height: 1.35em;
                color: white;
                margin-bottom: 0;
                &:last-child {
                  &:after {
                    display: none;
                  }
                }
                &:after {
                  display: none;
                  content: '/';
                  margin-right: 10px;
                  position: relative;
                  right: -5px;

                  @include breakpoint($max980) {
                    display: inline-block;
                  }
                }
                @include breakpoint($max980) {
                  display: inline-block;
                  width: auto;
                  float: left;
                }
              }
              strong {
                color: white;
              }
            }
            .link {
              a {
                display: inline-block;
                border: 1px solid white;
                padding: 12px 11px 10px 11px;
                position: absolute;
                bottom: 6px;
                color: white;
                background: none;
                @include breakpoint($max980) {
                  width: auto;
                  bottom: 3px;
                  text-align: center;
                  margin-left: 10px;
                  padding: 8px 11px 5px 11px;
                }
              }
            }
          }
        }
      }

      .flex-control-paging {
        li {
          margin: 0px 8px;
          a {
            width: 14px;
            height: 14px;
            display: block;
            background: rgba(255, 255, 255, 1);
            cursor: pointer;
            text-indent: -9999px;
            border-radius: 28px;
            box-shadow: none;
            border: 1px solid $gj-cyan;
            &:hover {
              background: $gj-cyan !important;
              border: 1px solid $gj-cyan;
            }
            &.flex-active {
              background: $gj-cyan;
              border: 1px solid $gj-cyan;

            }
          }
        }
      }
    }
  }
}

.products {
  #pagewrapper {
    .txt-topbanner {
      #block-block-12 {
        display: inline-block;
        width: 26%;
        height: 520px;
        background: #e8f6fd;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px 30px 60px 35px;
        position: absolute;
        right: 0;
        top: 104px;
        z-index: 250;
        color: #5a5a5a;
      }
      @media (max-width: 1160px) {
        #block-block-12 {
          width: 32%;
        }
      }
      @media (max-width: 980px) {
        #block-block-12 {
          position: relative;
          width: 100%;
          padding: 20px 8% 60px 8%;
          float: left;
          top: 0px;
          height: auto;
        }
      }
      #block-block-12 h2 {
        font-size: 1.8em;
        text-align: left;
        font-family: "ArimoRegular";
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      @media (max-width: 1160px) {
        #block-block-12 h2 {
          font-size: 2em;
        }
      }
      #block-block-12 .content .contact-photo {
        display: block;
        position: relative;
        width: 170px;
        height: auto;
        min-height: 170px;
        float: left;
        border: 12px solid white;
        border-radius: 50%;
        margin-left: 40px;
      }
      #block-block-12 .content span {
        display: inline-block;
        position: relative;
        width: 100%;
        float: left;
        margin: 8px 0px 8px 10px;
        padding: 7px 0px 0px 35px;
        font-size: 0.8em;
      }
      #block-block-12 .content span:before {
        display: inline-block;
        width: 30px;
        height: 26px;
        background: url(../img/c-mail.svg) no-repeat -1px center;
        background-size: 2em;
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
      }
      #block-block-12 .content span.contact-intro {
        padding: 0px;
      }
      #block-block-12 .content span.contact-intro:before {
        display: none;
      }
      #block-block-12 .content span.contact-title {
        padding: 8px 0px 0px 0px;
        margin-top: -5px;
        color: #54b2ef;
      }
      #block-block-12 .content span.contact-title:before {
        display: none;
      }
      #block-block-12 .content span.contact-name {
        text-transform: uppercase;
        font-size: 0.95em;
        font-family: "ArimoBold";
        margin-top: -2px;
        padding: 0px;
      }
      #block-block-12 .content span.contact-name:before {
        display: none;
      }
      #block-block-12 .content span.contact-email a {
        color: #5a5a5a;
      }
      #block-block-12 .content span.contact-email:before {
        background: url(../img/c-mail.svg) no-repeat left center;
        background-size: 2.2em;
      }
      #block-block-12 .content span.contact-phone:before {
        background: url(../img/c-phone.svg) no-repeat -2px center;
        background-size: 2.5em;
      }
      #block-block-12 .content span.contact-mobil:before {
        background: url(../img/c-mobile.svg) no-repeat -5px center;
        background-size: 2.8em;
      }
      #block-block-12 .content span.contact-skype:before {
        background: url(../img/c-skype.svg) no-repeat -5px center;
        background-size: 2.8em;
      }

      .flexslider {
        @include content-width;
        height: 520px;
      }
    }
  }
}

.not-front {
  #pagewrapper {
    .txt-topbanner {
      .flexslider {

      }
    }
  }
  &.node-type-news {
    #pagewrapper {
      .txt-topbanner {
        display: block;
        background: white;
        .flexslider {
          background: white;
        }
      }
    }
  }
}
