/*
Description: Investor-section
Author URI: http://openusorce.com
Version: 2015
*/


/* Strukture of Investor section
################################################################## */
.targetyear {
  float: left;
}
.list-of-years {
  display: block;
  width: 100%;
@include breakpoint($max600) {
  width: 50%;  
}
@include breakpoint($max480) {
  width: 60%;
}
@include breakpoint($max400) {
  width: 80%;
}
@include breakpoint($max320) {
  width: 90%;
}
  a {
    @include tabs;
    margin-bottom: 40px;
    padding: 1px 8px 0px 8px;
  }
  h3 {
    float: left;
  }
} 
/*DATE*/
.investor-date {
    display: inline-block;
    width: 115px;
    color: $gj-cyan;
    float: left;
    position: inherit;
    font-size: 80%;
    width: 80%;
  a {
    color: $gj-cyan; 
  }
}
/*TABLES*/
.investor-tables {
  display: block;
  clear: both;
  float: left;
  margin-bottom: 20px;
  tr {
    display: block;
    width: 100%;
    clear: both;
    td {
      &:nth-child(1) {
        display: inline-block;
        float: left;
        height: 80px;
        margin-right: 30px;
        font-size: 1.1em;
        font-family: 'ArimoBold', "Helvetica Neue", Helvetica, Arial, sans-serif;        
      }
    }
  }
}
.investor-pdf {
  display: none;
  /*float: left;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: 40px;
  opacity: 0.35;
  &:hover {
    opacity: 1;
  }*/
}
.title-label {
  color: $txt-gray;
  font-size: 90%;
  line-height: 1.5em;
  vertical-align: baseline;
  float: left;
  max-width: 520px;
  display: block;
  margin-bottom: 20px;
@include breakpoint($max680) {
  height: 70px;  
}
}
/*INVESTOR-FRONT*/
#block-views-investornews-block-1,
#block-views-news-block-3 {
  line-height: 1.2em;
  h2 {
    margin-bottom: 20px; 
    margin-top: 20px;   
  }
  .title-label { height: 30px; } 
}
.view-display-id-block_1 { 
  span {
  display: block;
  float: left;
  }
  .views-field-field-message-number { margin-right: 20px; }
  .title-label { margin-bottom: 30px; }
} 


.page-investor-delårsrapport .investor-tables td,
.page-investor-årsrapport .investor-tables td,
.page-investor-udgivelser .investor-tables td {
    padding-right: 10px;
}
.page-investor-delårsrapport .investor-tables td:last-of-type,
.page-investor-årsrapport .investor-tables td:last-of-type,
.page-investor-udgivelser .investor-tables td:last-of-type {
    padding-right: 0px;
}
.page-investor-delårsrapport .investor-tables td,
.page-investor-årsrapport .investor-tables td,
.page-investor-udgivelser .investor-tables td {
    padding-bottom: 10px;
    background: transparent;
}
.page-investor-delårsrapport .investor-tables tr,
.page-investor-årsrapport .investor-tables tr,
.page-investor-udgivelser .investor-tables tr {
    background: transparent;
}
.page-investor-delårsrapport .investor-tables .file a,
.page-investor-årsrapport .investor-tables .file a,
.page-investor-udgivelser .investor-tables .file a { 
    text-indent: -9999px}
.page-investor-delårsrapport .view-investornews .item-list-pager,
.page-investor-årsrapport .view-investornews .item-list-pager {
    clear: both;
}
.page-investor-nyheder-selskabsmeddelelser  .investor-tables td:first-of-type{
    padding-top: 23px;
    padding-right: 10px;
    vertical-align: top;
}
#webform-component-installation-date select{
    width: 100px;
}
#webform-component-installation-date label{
    display: none}

/* ################################################################ */
/* END 1. Strukture of Investor section */
