/*
Description: FORMS
Author URI: http://openusorce.com
Version: 2015
*/
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
.node-type-page {
  ul {
    &.primary {
      padding: 0;
      li {
        a {
          padding-left: 6px;
        }
      }
    }
  }
#pagewrapper {
  padding: 0;
  width: 100%;
  h1 {
    padding-left: 10%;
  }
#content {
  padding: 0;
}
}
}

button {
  background: lime;
  border: none;
}


.form-wrapper {
  display: block;
  margin: 0 0 20px 0;
  .webform-component-radios {
    
  }
}
.form-item, .form-action {
  margin: 20px 0px 20px 0px;
  label {
    margin-bottom: 5px;
    display: inline-block;
  }
  .description {
    display: block;
    max-width: 520px;
    line-height: 1.4em;
    margin-top: 5px;
  } 
}